#EXTM3U
#EXT-X-STREAM-INF:PROGRAM-ID=1,RESOLUTION=640x480,CODECS="mp4a.40.2,avc1.4d401e"
hls/640x480
#EXT-X-STREAM-INF:PROGRAM-ID=1,RESOLUTION=320x240,CODECS="mp4a.40.2,avc1.4d401e"
hls/320x240
#EXT-X-STREAM-INF:PROGRAM-ID=1,RESOLUTION=160x120,CODECS="mp4a.40.2,avc1.4d401e"
hls/160x120